@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --space-green: #12ec50;
  --space-green-light: #72ff66;

  --dark: #141414;
  --dark-lighter-1: #1e1e1e;
  --dark-lighter-2: #343434;

  --transition: all 250ms ease-in-out;
  --shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);

  --icon-width: 17px;
}

body {
  background-color: var(--dark);
  font-family: "Inter";
  color: #fff;
}

/* Globals */
h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

/* Overlays */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 999;
}

.overlay.overlay-dark {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}

/* Buttons */

button {
  border: none;
  outline: none;

  cursor: pointer;
  font-family: "Inter";

  background-color: transparent;

  transition: var(--transition);
}

.btn {
  display: inline-block;
  padding: 12px 25px;

  border-radius: 30px;
  font-size: 17px;

  background: var(--space-green);

  text-align: center;
}

.btn.btn-small {
  font-size: 15px;
  padding: 12px 20px;
}

.btn:hover {
  background: #fff;
  color: var(--dark);
  transform: translateY(-2px);
}

.link-btn {
  text-decoration: underline;
  background-color: transparent;
  color: #fff;
}

/* Inputs */

.input {
  display: block;
  border: none;
  outline: none;
  padding: 12px 18px;

  border-radius: 40px;
  font-family: "Inter";

  background-color: var(--dark-lighter-2);
  color: #fff;

  transition: var(--transition);
}

.input:focus {
  background-color: #444;
}

/* Utility */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}
