@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "Poppins";
  color: #fff;
}

/* Globals */
h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}
