@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: "Poppins";
  color: #fff;
}

/* Cards Legacy */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);

  z-index: 10000;
}

.container .control-bar {
  background-color: rgb(43, 43, 43);
  padding: 10px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.container .control-bar button.circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 1000;
  font-size: 20px;
  background: crimson;
  border: none;
  cursor: pointer;
}

.container .control-bar p {
  font-weight: 1000;
}

.container .cards {
  display: column;
  columns: 3;
  margin-top: 30px;
  margin-left: 50px;
  gap: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.container .cards * {
  break-inside: avoid;
}

@media (max-width: 1036px) {
  .container .cards {
    columns: 2;
  }
}

@media (max-width: 720px) {
  .container .cards {
    columns: 1;
  }
}

@media (max-width: 425px) {
  .container .control-bar {
    position: static;
    background-color: #222;

    padding-right: 20px;
    padding-left: 20px;
  }
  .container .cards {
    columns: 1;
    margin-left: 0px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
