#settings-page {
  display: flex;
}

#settings-page-content {
  padding: 40px;
}

#settings-page-content h1 {
  margin-bottom: 20px;
}

#settings-page-content input {
  margin-top: 20px;
}

#settings-page-content .btn {
  margin-top: 20px;
}

#settings-page-content .btn.btn-red {
  margin-top: 20px;
  background-color: rgb(214, 31, 31);
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#settings-page-content .group {
  margin-bottom: 60px;
}

#settings-page-content img {
  width: 20px;
}
