.card .date-selector {
  display: flex;
  border-bottom: 1px solid #444;
  font-size: 14px;
  justify-content: space-around;
}

.card .date-selector .date {
  border-right: 1px solid #444;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  padding: 15px 10px;
  cursor: pointer;
  transition: 250ms;
  flex: 1;
}

.card .date-selector .date.active {
  background: #444;
}

.card .date-selector .date:last-child {
  border-right: none;
}

.card .date-selector .date:hover {
  background: #444;
}
