.card .date-selector {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card .date-selector .date {
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
  transition: 250ms;
  background: #333;
}

.card .date-selector .date.active {
  background: #555;
}

.card .date-selector .date:last-child {
  border-right: none;
}

.card .date-selector .date:hover {
  background: #555;
}
