.card .task-input form {
  margin-top: 20px;
}

.card .task-input form {
  display: flex;
  gap: 10px;
}

.card .task-input form input {
  min-width: 300px;
}

.card .task-input form button.circle {
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 1000;
  font-size: 20px;
  background: #02c39a;
  border: none;
  cursor: pointer;
}