.tasks {
  margin-top: 30px;
}

.tasks .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
  padding: 7px 10px;
  border-radius: 5px;
  transition: 250ms;
}

.tasks .task:hover {
  text-decoration: line-through;
  cursor: pointer;
  background: #555;
}

.tasks .circle {
  display: inline-block;
  border-radius: 50%;
  margin-right: 15px;
  min-width: 15px;
  height: 15px;
  background-color: #02c39a;
  transition: 250ms ease-in-out;
}

.tasks .task-card-name {
  margin-left: 15px;
  background: #fff;
  color: #000;
  padding: 2px 10px 2px 10px;
  border-radius: 50px;
}

.completed-tasks .task:hover .circle {
  background-color: #fff;
}

.completed-tasks .circle {
  background-color: #555;
}

.completed-tasks .task {
  color: #555;
  text-decoration: line-through;
}

.completed-tasks .task:hover {
  color: #fff;
}
