.card {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}

.card .card-header {
  font-size: 21px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.card .menu {
  position: relative;
  display: flex;
}

.card .menu .dropdown {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 200000;
}

.card .menu .dropdown button {
  font-size: 17px;

  width: 100px;
  padding: 10px 0;

  background: #fff;
  color: #333;
}

.card .menu .dropdown button:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px #ccc solid;
}

.card .menu .dropdown button:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card .menu .dropdown button:hover {
  background: #eee;
}

.card img {
  cursor: pointer;
}
