.card {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}

.card h2 {
  font-size: 21px;
  margin-bottom: 20px;
}

/* @media (max-width: 1290px) {
  .card {
    border: 3px solid #444;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
  }
} */
