.sidebar {
  background-color: rgb(43, 43, 43);
  padding: 20px 30px;
  height: 100vh;
}

.sidebar .add-card-btn {
  /* why does this work? */
  background-color: transparent;
}

.sidebar .add-card-btn img {
  width: 45px;
}

.sidebar .no-card-dialog {
  flex-direction: column;
  width: 200px;
  border-top: 3px #444 solid;
  padding-top: 20px;
}

.sidebar .no-card-dialog img {
  width: 100%;
  margin-bottom: 30px;
}

.sidebar .no-card-dialog p {
  text-align: center;
}

.sidebar .dashboard-menu {
  margin-bottom: 20px;
  margin-top: 20px;
}

.sidebar .dashboard-menu .dashboard-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 6px;
  border-radius: 50px;
  transition: 200ms ease-in-out;
  width: 250px;
  font-size: 15px;
  gap: 15px;
}

.sidebar .dashboard-menu .dashboard-link.active {
  background-color: var(--space-green-light);
  color: #111;
}

.sidebar .dashboard-menu .dashboard-link.active img {
  filter: none;
}

.sidebar .dashboard-menu .dashboard-link img {
  width: 22px;
  /* Convert svg color to white */
  filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(202deg)
    brightness(106%) contrast(106%);
}
