.sidebar {
  width: 300px;
  padding: 30px;
  background: #222;
  height: 100vh;
}

.sidebar h2 {
  font-size: 1.3rem;
}

.sidebar .sort-by-list {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #02c39a;
  margin-top: 10px;
}

.sidebar .sort-by-list li {
  cursor: pointer;
  font-size: 0.9rem;
}

.sidebar .todolist {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}

.sidebar .todolist .list-item {
  background: #545454;
  padding: 10px 25px;
  font-size: 0.9rem;
}

.sidebar .todolist .list-item:hover {
  text-decoration: line-through;
}
