#dashboard {
  display: flex;
}

#dashboard .dashboard-content {
  padding: 40px;
  flex: 2;
}

#dashboard .dashboard-content header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#dashboard .dashboard-content h1 {
  font-size: 25px;
  margin-right: 10px;
}

#dashboard .dashboard-content span.circle {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: rgb(126, 221, 139);
  border-radius: 50%;
}

#dashboard .dashboard-content p.select-date {
  text-decoration: underline;
  margin-bottom: 25px;
}

#dashboard .dashboard-content .box-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

#dashboard .dashboard-content .box-container .box {
  padding: 40px 30px;
  background-color: rgb(241, 59, 35);
  border-radius: 10px;
}

#dashboard .dashboard-content .box-container .box.box-green {
  background-color: var(--space-green);
  color: var(--dark-lighter-2);
}
