.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}

.container .control-bar {
  background-color: rgb(43, 43, 43);
  padding: 10px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.container .control-bar button.circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 1000;
  font-size: 20px;
  background: crimson;
  border: none;
  cursor: pointer;
  margin-bottom: 25px;
}

.container .control-bar p {
  font-weight: 1000;
}

.container .cards {
  display: column;
  columns: 3;
  margin-top: 50px;
  margin-left: 100px;
  gap: 20px;
}

.container .cards * {
  break-inside: avoid;
}
