.container {
  padding: 10px 100px;
}

.container button.circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 1000;
  font-size: 20px;
  background: crimson;
  border: none;
  cursor: pointer;
}

.cards {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.add-card-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  border-radius: 5px;
  padding: 20px 0;
}

input[type="date"] {
  background-color: #222;
  border: none;
  margin-right: 20px;
  padding: 5px 15px;
  color: #fff;
  font-family: "Poppins";
  border-radius: 3px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}
/* ::-webkit-datetime-edit {
  padding: 1em;
}
::-webkit-datetime-edit-fields-wrapper {
  background: silver;
}
::-webkit-datetime-edit-text {
  color: red;
  padding: 0 0.3em;
}
::-webkit-datetime-edit-month-field {
  color: blue;
}
::-webkit-datetime-edit-day-field {
  color: green;
}
::-webkit-datetime-edit-year-field {
  color: purple;
}
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  background: orange;
} */
