header {
  padding: 10px 100px;
}

header img {
  width: 120px;
  height: 100%;
  object-fit: cover;
  transform: translateY(2px);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .link {
  text-decoration: none;
  color: #fff;
  padding: 10px 25px;
  background: #555;
  border-radius: 5px;
  font-size: 14px;
}
