header {
  padding: 30px 100px 10px 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

header img {
  width: 120px;
  height: 100%;
  object-fit: cover;
  transform: translateY(2px);
}
