.card-listing {
  overflow: auto;
}

.card-listing li {
  list-style: none;
  padding: 7px 20px;
  margin-bottom: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  min-width: 250px;
}

.card-listing li:hover {
  background: #444;
}