.card-listing {
  overflow: auto;
}

.card-listing h3 {
  margin-bottom: 10px;
}

.card-listing li {
  list-style: none;
  padding: 6px 8px;
  margin-bottom: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  min-width: 250px;
  font-size: 15px;
}

.card-listing li:hover {
  background: #444;
}

.card-listing li .circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #555;
  border-radius: 50%;
  margin-right: 15px;
  transition: 200ms ease-in-out;
}

.card-listing li:hover .circle {
  background-color: crimson;
}