.card-listing {
  padding-top: 20px;
}

.card-listing header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.card-listing header h3 {
  font-size: 18px;
}

.card-listing header img {
  cursor: pointer;
  width: var(--icon-width);
  object-fit: contain;
  filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(202deg)
    brightness(106%) contrast(106%);
}

.card-listing .card-listing-container {
  display: flex;
  flex-direction: column;
}

.card-listing .card-listing-item.active,
.card-listing .card-listing-item:hover {
  background-color: var(--dark);
}

.card-listing .card-listing-item .circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #555;
  border-radius: 50%;
  transition: 200ms ease-in-out;
}

.card-listing .card-listing-item:hover .circle,
.card-listing .card-listing-item.active .circle {
  background-color: cornsilk;
}
