.card .menu {
  position: relative;
  display: flex;
}

.card .menu .dropdown {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 1000;
}

.card .menu .dropdown .btn-dropdown {
  font-size: 17px;

  width: 100px;
  padding: 10px 0;

  background: #fff;
  color: var(--dark-lighter-2);
}

.card .menu .dropdown .btn-dropdown:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px #ccc solid;
}

.card .menu .dropdown .btn-dropdown:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card .menu .dropdown .btn-dropdown:hover {
  background: #eee;
}
