.login-form {
  margin-top: 50px;
  border-radius: 30px;
  width: 400px;
  margin-left: 120px;
}

.login-form form h1 {
  margin-bottom: 24px;
}

.login-form form a {
  color: #fff;
  display: block;
  margin-bottom: 30px;
}

.login-form form label {
  margin-bottom: 20px;
  font-weight: 100;
  display: block;
}

.login-form form input {
  width: 100%;
  margin-bottom: 40px;
  font-size: 16px;
}

.login-form form button {
  padding: 10px 40px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
}

.loader {
  border: 3px solid rgb(194, 35, 67); /* Light grey */
  border-top: 3px solid #fff; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 650px) {
  .login-form {
    flex-direction: column;
  }

  .login-form form {
    background: #111;
    width: auto;
    padding: 60px 60px;
    border-radius: 15px;
  }
}

@media (max-width: 375px) {
  .login-form form {
    padding: 50px 20px;
  }
}
