.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  margin-bottom: 25px;
}

.hero p {
  width: 30%;
  margin-bottom: 35px;
  line-height: 1.4;
}

.hero button {
  background-color: #444;
  border: none;
  outline: none;
  background: #12ec50;  
  padding: 12px 25px;
  display: inline-block;
  border-radius: 3px;
  font-family: "Inter";
  font-size: 16px;
  cursor: pointer;
  transition: 250ms;
  margin-bottom: 30px;
}

.hero button:hover {
  transform: translateY(-2px);
}

.hero a.link {
  text-decoration: underline;
  color: #fff;
  margin-bottom: 50px;
}

.hero .preview-image {
  background-image: url("../../assets/previewImage.png"); 
  height: 400px;
  width: 80%;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.8);
}


@media (max-width: 840px) {
  .hero h1 {
    width: 80%;
  }

  .hero p {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .hero h1 {
    width: 100%;
  }

  .hero p {
    width: 100%;
  }
}
